.odd-numbered {
    background-color: rgb(255, 160, 122);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.cooler {
    font-size: 24px;
}

#first {
    color: rgb(0, 71, 171);
    font-size: 36px;
}

#second {
    background-color: rgb(144, 238, 144);
    font-weight: bold;
}